div {
    width: 12.5%;
    height: 12.5%;
    outline: 2px solid;
    /* background-color: black; */
    float: left;
}

p {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    color: white;
    font: bold;
    text-align: center;
    border-style: 1px solid red;
}

#emptyParagraph {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}